header {
    background-color: #444;
    color: #fff;
    padding: 20px;
    font-family:fantasy
}
body {
    background-color: #f8d0ed;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline;
    margin-right:70px;
}
a:link, a:visited {
   color: white;
   text-decoration: none;
}
a:hover {
    color: grey;
}
div {
    padding-top: 70px;
}
