header {
    background-color: #444;
    color: #fff;
    padding: 10px;
    font-family:fantasy;
    position:fixed;
    top: 0px;
}
body {
    background-color: #f8d0ed;
}
nav ul {
    list-style-type: none;
}           
nav li {
    display: inline;
    margin-right:60px;
}
a:link, a:visited {
   color: white;
   text-decoration: none;
}
a:hover {
    color: grey;
}
.foto {
    width: 270px;
    height: 230px;
}
.fuente {
    font-size:medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
summary {
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    font-weight: bold;
}
.faq {
    padding-left: 500px;
    padding-top: 50px;
}