header {
    background-color: #444;
    color: #fff;
    font-family:fantasy;
    padding: 10px;
}
body {
    background-color: #f8d0ed;
}
nav ul {
    list-style-type: none;
}           
nav li {
    display: inline;
    margin-right:80px;
}
a:link, a:visited {
   color: white;
   text-decoration: none;
}
a:hover {
    color: grey;
}
.foto {
    width: 270px;
    height: 230px;
}
.fuente {
    font-size:medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
summary {
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    font-weight: bold;
}
.faq {
    padding-left: 500px;
    padding-top: 1px;
}
.medio {
    margin: auto;
}
footer {
    padding-left: 600px;
    display: inline-flex;
    bottom: 0;
    position: absolute;
}
h4 {
    padding-left: 80px;
    padding-right: 80px;
}
.tabla {
    background-color: #444;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
}

